VITE_TEACHER_ID=3337dc87-6cb9-42b7-bea7-55b21e0e4d6c
VITE_STUDENT_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxNGU3ZTFjZC1mZTQwLTRkNDktYjMxZS1hODAyM2Y5NDQ0OGMiLCJuYW1lIjoiSm9obiBEb2UiLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNTE2MjM5MDIyfQ.A7s-zUbzxJHtnWQHVDVTnvA9fhFKHJ_Zpj_bsAvi1TE